<h1><%= @workout.name %></h1>

<strong>Category:</strong> <%= @workout.category %><br>
<strong>Duration:</strong> <%= @workout.duration %> minutes<br>
<strong>Intensity:</strong> <%= @workout.intensity %> (1=easy, 5=difficult)
<br>
<br>
<h3>Number of Times You've Recorded this Workout in a Training: <%= @workout.trainings.count %></h3>
<br>
<br>
<%= link_to 'Return to All Workouts', workouts_path %>