<h1><%= @workout.name %></h1>

<%= @workout.category %><br>
<%= @workout.duration %> minutes<br>
<%= @workout.intensity %> (1=easy, 5=difficult)
<br>
<br>
<h3>Number of Times You've Recorded this Workout in a Training: <%= @workout.trainings.count %></h3>
<br>
<br>
<%= link_to 'Return to All Workouts', workouts_path %>