<h1>Welcome, <%= current_user.username%></h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Events</h3>
    <p class="card-text">Add an event for which you'd like to start training!</p>
    <%= link_to 'Add an Event', new_event_path %>   |   <%= link_to 'My Events', events_path %>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Workouts</h3>
    <p class="card-text">Record a workout or get inspiration from other users.</p>
    <%= link_to 'Record a Workout', new_workout_path %>   |   <%= link_to 'All Workouts', workouts_path %>
  </div>
</div>